body{
    font-family: Arial, Helvetica,sans-serif;
    }
    
h1,h2,h3{ 
font-size: 24px;
}
  pp  
p {
 font-size: 16px;
}

img{
    height: 70px;
}

abbr{
    color: #000;
 
}

.tituloheader{
    font-size: 30px
}
.tituloheader{
    background-color: #333;
    color: #fff
}

.pheader3{
    background-color: #333;
    color: #fff;
}

.pheader2{
    background-color: #333;
    color: #fff;
}

.div1{
    background-color: #333;
    height: 170px;
    padding: 20px;
    color: #fff;
}

.div1{
    box-sizing: content-box;
}



